/*
	padding/margin Bootstrap換算表
	0.25 rem ... size 1 (例：p-1)
	1 rem ... sise 3 (例：p-3)
	3 rem ... size 5 (例：p-5)
*/

header, div, p, label {
	margin: 0;
}

body {
	background-color: #e6e6e6;
}

.container {
	padding: 1rem; /* Bootstrapのp-3に相当 */
}

.box {
	margin: 0;
	padding: 1rem 0 1rem; /* Bootstrapのp-3に相当 */
}

.row {
	margin: 0 0 1rem;
}

#header {
	margin-bottom: 1rem;
}

#header:after, .#header:before {
    display: block;
    content: "";
    clear: both;
}

#header h1 {
	font-size: 28px;
	display: inline-block;
	background: #e8f1ff;/*背景色*/
	border-bottom: solid 5px #3396ff;/*左線（実線 太さ 色）*/
	width: 100%;
	padding: 1rem;
	margin-top:0.25rem;
}

label {

}

#username p {
	font-size:20px;
}

label {
	font-size: 18px;
	/*
	ここからラベル
	サルワカレシピ：https://saruwakakun.com/html-css/reference/h-design
	*/
	padding: 0.5em;/*文字周りの余白*/
	color: #494949;/*文字色*/
	/*background: #fffaf4;背景色*/
	background: #e8f1ff;/*背景色*/
	/*border-left: solid 5px #ffaf58;左線（実線 太さ 色）*/
	border-left: solid 5px #3396ff;/*左線（実線 太さ 色）*/
	width: 100%;
}

.container p {
	padding: 1rem 0;
}

span {
	margin-right: 10px;
}

input[type=checkbox] {
	width: 22px;
	height: 22px;
	margin-right:3px;
	margin-left:10px;
	/* display: none;		/* checkboxを非表示にする */ */
}
