body {
	font-family: 'Meiryo', 'Hiragino Kaku Gothic ProN', sans-serif;
	word-wrap:break-word;
	background-color: #e7e7eb;
}

.wrapper {
	max-width: 900px;
}

h1 {
	font-size: 26px;
}

h2 {
	font-size: 20px;
}

table, th, tr, td {
	padding: 10px;
}

a {
	padding: 10px;
}

.iconOfMembers {
	width :48px;
	height: 48px;
}
